@import "./categories";
@import "./sort";
@import "./pizza-block";

.content {
  padding: 40px 0;

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__title {
    margin: 35px 0;
  }

  &__offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
